body{
  background-color: black; 
  width:500px;

}
div{
    border: 1px solid aqua;
    padding: 10px;
    border-radius: 5px;
}
.inputs{
  
    background-color: rgba(214, 203, 187, 0.432);
    width:90%;
    border:0px solid black;
    margin-bottom: 6px;
    margin-left: 4px;
    height: 6vh;
    border-radius: 10px;

}
#prime{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18%;
    height: 50%;

}
button{
    background-color: rgba(196, 193, 193, 0.801);
    height: 8vh;
    width: 4vw;
    border-radius: 25px;
    border:0px solid black
}
button:hover{
    background-color: rgb(255, 248, 248);
    
}
#oranger{
    background-color:rgb(255, 153, 0);
}
#oranger:hover{
    background-color: rgb(255, 248, 248);
    /* background-color:rgb(255, 153, 0); */
}


.ac{
    width: 8vw;
    float: right;
    margin-left:0px;
   

}
.ac:hover{
    color: rgb(255, 153, 0);
}

#button0 {
    width: 8.5vw;
    float: left;
    margin-left:0px;
   
  }

#display{
    color: orange;
}

@media only screen and (max-width:400px) {

    #display {
        color: rgb(255, 255, 255)
    };
    
    .inputs{
        background-color: rgb(43, 43, 43);
        width:160px;
        height: 30px;
       
        
    }
    #prime{
        width: 175px;
        height: 270px;
    
    }
    button{
        background-color: rgba(196, 193, 193, 0.801);
        height: 36px;
        width:38px;
        border-radius: 25px;
        border:0px solid black
    }
    #button0 {
        width: 80px;
      }
      .ac{
        width: 80px;
    }
    
}
@media only screen and (min-width: 400px) and (max-width: 1000px) {
     #display {
        color: orange
    };
    .inputs{
        background-color: rgb(255, 255, 255);
        width:130px;
        height: 28px;;
        
    }
    #prime{
        width: 140px;
        height: 190px;
    
    }
    button{
        background-color: rgba(196, 193, 193, 0.801);
        height: 28px;
        width:30px;
        border-radius: 25px;
        border:0px solid black
    }
    #button0 {
        width: 65px;
      }
      .ac{
        width: 65px;
    }
}

  

/* @media only screen and (min-width: 400px) and (max-width: 1000px) {

   #display {
        color: orange
    };
    
    .inputs{
        background-color: rgb(255, 255, 255);
        width:160px;
        height: 28px;
       
        
    }
    #prime{
        width: 175px;
        height: 320px;
    
    }
    button{
        background-color: rgba(196, 193, 193, 0.801);
        height: 36px;
        width:38px;
        border-radius: 25px;
        border:0px solid black
    }
    #button0 {
        width: 80px;
      }
      .ac{
        width: 80px;
    } */
}
  
/* @media only screen and (max-width:400px)  {
    
    .inputs{
        background-color: rgb(255, 0, 234);
        width:130px;
        height:28px;
        
    }
    #prime{
        width: 140px;
        height: 190px;
    
    }
    button{
      background-color: rgba(196, 193, 193, 0.801);
        height: 28px;
        width:30px;
        border-radius: 25px;
        border:0px solid black
    }
    #button0 {
        width: 65px;
      }
      .ac{
        width: 65px;
    }
    
}




 */
