body{
  background-color: black; 
  width:500px;

}
div{
    border: 1px solid aqua;
    padding: 10px;
    border-radius: 5px;
}
.inputs{
  
    background-color: rgba(214, 203, 187, 0.432);
    width:90%;
    border:0px solid black;
    margin-bottom: 6px;
    margin-left: 4px;
    height: 6vh;
    border-radius: 10px;

}
#prime{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18%;
    height: 50%;

}
button{
    background-color: rgba(196, 193, 193, 0.801);
    height: 8vh;
    width: 4vw;
    border-radius: 25px;
    border:0px solid black
}
button:hover{
    background-color: rgb(255, 248, 248);
    
}
#oranger{
    background-color:rgb(255, 153, 0);
}
#oranger:hover{
    background-color: rgb(255, 248, 248);
    /* background-color:rgb(255, 153, 0); */
}


.ac{
    width: 8vw;
    float: right;
    margin-left:0px;
   

}
.ac:hover{
    color: rgb(255, 153, 0);
}

#button0 {
    width: 8.5vw;
    float: left;
    margin-left:0px;
   
  }

#display{
    color: orange;
}
  
@media screen and (max-width:380px) {
    
    .inputs{
        background-color: rgb(255, 0, 234);
        width:90%;
        
    }
    #prime{
       
        width: 50%;
/*         height: 45%;
     */
    }
    button{
        background-color: rgba(196, 193, 193, 0.801);
/*         height: 7vh; */
        width: 2.2rem;
        border-radius: 25px;
        border:0px solid black
    }
    #button0 {
        width: 4.7rem;
      }
      .ac{
        width: 4.6rem
    }
    
}



/*   @media screen and (max-width:580px) {
   
    
    .inputs{
        background-color: rgba(214, 203, 187, 0.432);
        width:90%;
        
    }
    #prime{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 10rem;
        height: 45%;
    
    }
    button{
        background-color: rgba(196, 193, 193, 0.801);
        height: 7vh;
        width: 2.2rem;
        border-radius: 25px;
        border:0px solid black
    }
    #button0 {
        width: 4.7rem;
      }
      .ac{
        width: 4.6rem
    }
    
}
  
  
  
 */
